{{define "view"}}
    <div class="row">
        <div class="col-md-12">
            <h1>{{.Name}}</h1>
            <ul>
                {{range .Images}}
                    <li>{{.Name}}</li>
                {{end}}
            </ul>
        </div>
    </div>
{{end}}