{{define "view"}}
    <div class="row">
        <div class="col-md-12">
            <h1>{{.Name}}</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        {{range .Images}}
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <img src="data:image/png;base64,{{.Source}}" class="w-100 shadow-1-strong rounded mb-4" alt=""/>
            </div>
        {{end}}
    </div>
{{end}}
